# File
.env
.dockercmd
.python-version
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.git



# Folder
.venv
**/test_ipynb
**/__pycache__
**/*.egg-info
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/.mypy_cache
**/.pytest_cache
**/.hypothesis