.env
.venv
**/__pycache__/*

*.pyc
src/search_l3s_search/__pycache__/__init__.cpython-39.pyc
src/search_l3s_search/__pycache__/config.cpython-39.pyc
src/search_l3s_search/api/indexer/__pycache__/__init__.cpython-39.pyc
src/search_l3s_search/api/indexer/__pycache__/dto.cpython-39.pyc
src/search_l3s_search/api/indexer/__pycache__/endpoints.cpython-39.pyc
src/search_l3s_search/api/indexer/__pycache__/logic.cpython-39.pyc
src/search_l3s_search/api/searcher/__pycache__/__init__.cpython-39.pyc
src/search_l3s_search/api/searcher/__pycache__/dto.cpython-39.pyc
src/search_l3s_search/api/searcher/__pycache__/endpoints.cpython-39.pyc
src/search_l3s_search/api/searcher/__pycache__/logic.cpython-39.pyc
src/search_l3s_search/api/test/__pycache__/__init__.cpython-39.pyc
src/search_l3s_search/api/test/__pycache__/endpoints.cpython-39.pyc

./*.log
./src/search_l3s_search.egg-info